
<form asp-controller="Roles" asp-action="CreateRole" method="post" style="display :flex;flex-direction:column; justify-content:center; align-items:center: height:100vh">
    <label>Role name</label>
    <input class="form-check" name="name" type="text" />
    <button type="submit" class="btn btn-success">Create Role</button>
</form>
