<form asp-controller="Auth" asp-action="Login" asp-controller="Auth" method="post" style="display :flex;flex-direction:column; justify-content:center; align-items:center: height:100vh">
    <label>Username or Email</label>
    <input class="form-control" type="text" name="usernameOrEmail" width="30%" />
    <label>Password</label>
    <input class="form-control" type="password" name="password" width="300px" />
    <button  style="margin-top:10px"class="btn btn-success">Login</button>


</form>

