<div style="display:flex; justify-content:center; align-items:center; gap:20px; height:80vh">
<a class="btn btn-success" asp-action="GetAllUsers" style="height:200px;width:200px ; display:flex ; align-items:center;justify-content:center" >LIST OF USERS</a>
    <a class="btn btn-success" asp-action="CreateUser" style="height:200px; width:200px; display:flex ; align-items:center;justify-content:center">CREATE USER</a>

</div>



